body{
    background-color: #f1eded;
}

.card{
    background-color: #ffffff;
    margin: 7% auto;
}

.btn-primary{ /*style do botão sair*/
    background-color: #000000;
    border-color: #000000;
    border-width: 2px;
    color: #ffffff;
    border-radius: 10px;
    font-size: 90%;
    border-style: outset; /*style levemente elevado do botão sair */
}

.btn-primary:hover{ /*style da ação "passar o mouse por cima" no botão sair*/
    background-color: #141212;
    border-color: #000000;
}
.btn-primary:focus{ /*style da ação "selecionado" do botão sair*/
    box-shadow: 0 0 0 2px #000000bb!important; 
    background-color: #141212!important;
    border-color: #000000!important;
}
body::-webkit-scrollbar {
    width: 9px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-thumb {
    background-color: #000000;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 1px solid #000;  /* creates padding around scroll thumb */
}